body{
    background-color: aliceblue;
}

.card-body{
    padding: 20px;
    width: 40%;
    height: auto;
    border-radius: 5%;
    color: rgb(241, 241, 241);
    margin-top: 5rem;
    text-align: center;
    position: relative;
}

#require{
    margin-left: 1rem;
    color: red;
}

#leyenda{
    font-size: 12px;
    
}